body {
  background: #FFF;
  font-family: "Arial", monospace;
  font-size: 0.15in;
  padding: 0;
  margin: 0;
}

.page, .cover {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.3cm rgba(0,0,0,0.5);
  transform: scale(1);
  width: 8.3in;
  height: 11.7in;
}

#pages-container {
  transition: 0.5s;
}

#editableSpace {
  position: relative;
  top: 1in;
  height: 9.7in;
  width: 5.8in;
  margin-left: 1.5in;
  margin-bottom: 1in;
  outline: none;
}

#title,#subtitle,#written,#author,#basedOn {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 99%;
  text-align: center;
  border: 0;
  outline: none;
  font-family: 'Courier', monospace;
  font-size: 0.15in;
  transition: 0.75s;
}
#title { top: 38.5%; font-weight: bolder; text-transform: uppercase; }
#subtitle { top: 43%; }
#written { top: 47.25%; color: #36454f;}
#author { top: 50%;}
#basedOn { top: 60%; width: 60%; color: #36454f; }
#info {
  position: absolute;
  bottom: 1in;
  right: 1in;
  height: 7.5vh;
  width: 20vw;
  text-align: right;
  outline: none;
  font-family: 'Courier', monospace;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3vh;
  background-color: #CDCDCD;
}

.right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: inherit;
}

.left {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
  width: 50%;
  height: inherit;
}

.page-counter {
  position: fixed;
  text-align: center;
  bottom: 1vh;
  right: 2vh;
  font-size: 3vh;
}

#accountLogo {
  position: fixed;
  right: 2vh;
  top: 1vh;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: grey;
  box-shadow: 0 0 0.2cm rgba(0,0,0,0.5);
}
#accountLogo:hover {cursor: pointer;}

.zoom-controls {
  position: fixed;
  right: 2vh;
  top: 8vh;
  box-shadow: 0 0 0.2cm rgba(0,0,0,0.5);
  height: 10vh;
  width: 5vh;
  border-radius: 5px;
  background-color: #FFF;
}

.in {
  position: relative;
  height: 4vh;
  width: inherit;
}

.zoom-value {
  position: absolute;
  height: 2vh;
  width: inherit;
  font-weight: bolder;
  font-size: 2vh;
  text-align: center;
}

.no-select:hover {cursor: default;}
.no-select::selection {border-color: #FFF;}

.out {
  position: absolute;
  bottom: 0;
  height: 4vh;
  width: inherit;
  transition: 0.5s;
}

.in,.out {
  height: 4vh;
  width: inherit;
  transition: 0.5s;
}
.in {position: relative;}
.out {position: absolute; bottom: 0;}

.in:hover,.out:hover,.reset:hover,#coverShow:hover,#moon:hover {
  fill: #B3B3B3;
  cursor: pointer;
}

#plus,#minus,#undo {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 3vh;
}

.reset {
  position: fixed;
  top: 11vh;
  right: -5vh;
  height: 4vh;
  width: 4.5vh;
  transition: 0.5s;
  box-shadow: 0 0 0.3cm rgba(0,0,0,0.5);
  background-color: #FFF;
  border-radius: 10px 0 0 10px;
}

.coverButton,.themeButton {
  position: absolute;
  top: 50%;
  margin-left: 1.5vh;
  transform: translate(0,-45%);
}
.themeButton {margin-left: 5.75vh;}

#coverShow,#moon {
  height: 3.5vh;
  transition: 0.5s;
}

.leftSideTools {
  position: fixed;
  left: 2vh;
  bottom: 2vh;
  box-shadow: 0 0 0.2cm rgba(0,0,0,0.5);
  height: 5vh;
  width: 10vh;
  border-radius: 5px;
  background-color: #FFF;
}

#log-in {
  position: fixed;
  z-index: 10;
  width: 75vh;
  height: 20vh;
  text-align: center;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFF;
  box-shadow: 0 0 0.2cm rgba(0,0,0,0.5);
  height: 27.5vh;
  width: 62.5vh;
}

h1 {
  font-size: 5vh;
}
span { color: blue; }

 #signInWithGoogle,#signInWithGithub {
   height: 7.01262272089761vh;
 }
 #signInWithGithub {border-radius: 12.5px;}
 #signInWithGoogle:hover,#signInWithGithub:hover {cursor: pointer;}
