@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 40.25vh 0;
    text-align: center;
    background-color: #0081AF;
}

#headerTitle {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 5vh;
    margin-left: 2.5vh;
    font-weight: bold;
    -webkit-transition: 1s; /* Chrome */
    -moz-transition: 1s; /* Firefox */
    -ms-transition: 1s; /* Internet Explorer */
    -o-transition: 1s; /* Opera */
    transition: 1s;
}

nav {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    -webkit-transition: 1s; /* Chrome */
    -moz-transition: 1s; /* Firefox */
    -ms-transition: 1s; /* Internet Explorer */
    -o-transition: 1s; /* Opera */
    transition: 1s;
}

.navLinks {
    display: flex;
    margin-top: 0;
    margin-left: auto;
    list-style: none;
    width: 35%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.navLinks li a {
    color: #FFF;
    text-decoration: none;
    font-size: 2.5vh;
    -webkit-transition: 1s; /* Chrome */
    -moz-transition: 1s; /* Firefox */
    -ms-transition: 1s; /* Internet Explorer */
    -o-transition: 1s; /* Opera */
    transition: 1s;
}

.navLinks li a:hover {
    color: #4B0082 !important;
}

h1,h2,h3 {
    font-size: 5vh;
    text-align: center;
}
h2 {font-size: 4.25vh;}
h3 {color: #E3E3E3; font-size: 2.5vh;}

.para {
    margin-left: 2.5vh;
    margin-right: 1vh;
    text-indent: 7.5vh;
    font-size: 2.75vh;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
}

.editor {
  color: #FFF;
  background-color: blue;
  font-weight: bolder;
  padding: 0.75vh;
  border-radius: 7.5px;
}
