@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  color: #FFF;
  font-family: "Arial", monospace;
  font-size: 0.15in;
  padding: 0;
  margin: 0;
}

.noteList {
  position: fixed;
  background-color: #171823;
  height: 100%;
  width: 25%;
}

.header {
  height: 10%;
  width: 100%;
}

.header div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 7vh;
  font-weight: bolder;
}

.noteSelection {
  position: relative;
  height: 84%;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  overflow: scroll;
}

.noteName, .addNote {
  padding: 1vh;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  font-size: 3vh;
  margin-top: 1vh;
}

.noteName:hover {
  color: #65689a;
  background-color: #14151f;
  cursor: pointer;
}

.addNote {
  color: #65689a;
  background-color: #14151f;
  font-size: 4vh;
}

.addNote:hover {
  cursor: pointer;
}

.buildDetails {
  position: fixed;
  bottom: 0;
  width: 25%;
  height: 6%;
  text-align: center;
  align-items: center;
}

.buildDetails p {
  color: #ac9fbb;
  font-size: 2vh;
}

.noteSpace {
  position: fixed;
  background-color: #1d1e2c;
  height: 100%;
  width: 75%;
  left: 25%;
}

.writingSpace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 95%;
  height: 95%;
  outline: none;
  font-size: 3vh;
  overflow: scroll;
}

.writingSpace:hover {
  cursor: pointer;
}